# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Data and Models
data/raw.csv
data/processed/
artifacts/
*.joblib
*.pkl

# MLflow
mlruns/
.trash/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Environment variables
.env
